html {
  scroll-behavior: smooth;
}
body,
html {
  font-family: arial;

  min-height: 100vh;
  height: 100vh;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.no-select,
.no-select * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@supports (-webkit-touch-callout: none) {
  body,
  html {
    /* The hack for Safari */
    height: -webkit-fill-available;
    min-height: -webkit-fill-available;
  }
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#container,
.gallery-background {
  width: 450px;
  margin-left: -225px;
  left: 50%;
}

#container {
  min-height: 100%;

  float: left;
  border: 2px solid black;
  position: relative;
  font-size: 15px;
  background: none;
}

.gallery-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  height: 100%;
  border: 2px solid black;
  overflow: auto;
  display: none;
}

.fixed {
  height: 100vh;
  overflow: hidden;
  box-shadow: inset 0 0 30px red;
}

.loading-bar {
  z-index: 100;
  height: 2px;
  background: #cd0079;
  width: 0%;
  position: absolute;
  top: 3px;
  left: 0;
  transition: 0.3s;
}
header {
  width: 100%;
  float: left;
  text-align: center;
  padding: 0;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  font-weight: bold;
}

h1 {
  font-size: 21px;
  width: 72%;
  margin: 0 14%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gallery-background header h1 {
  width: 60%;
  margin-left: 0;
  margin-right: 0;
  color: black;
}

.tj {
  width: 100%;
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  padding-top: 15px;
}
.quote {
  margin-top: 40px;
  padding: 20px 0 0 0;
}

.contact {
  margin-top: 30px;
}

a,
a:visited {
  color: navy;
}
p {
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  white-space: break-spaces;
}

header img {
  max-width: 20%;
  max-height: 90%;
  width: 82px;
  position: relative;
  cursor: pointer;
  margin-left: 16px;
}

header a,
header a:visited {
  float: left;
  position: absolute;
  left: 0%;
  padding: 10px 5%;
  font-size: 28px;
  line-height: 28px;
  cursor: pointer;
  color: gray;
  text-decoration: none;
  mix-blend-mode: multiply;
  z-index: 100;
}
header a:hover {
  color: black;
  background: gainsboro;
}

main {
  float: left;
  position: relative;
  width: 100%;
  mix-blend-mode: multiply;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

main.video-thumb {
  background: black;
  width: 100%;
  text-align: center;
  margin-left: 0;
  padding-bottom: 4px;
  cursor: pointer;
}

main.video-thumb:hover .gallery-quick-link {
  /*display: block;*/
}

.gallery-quick-link {
  display: none;
  position: absolute;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  background: black;

  opacity: 0.4;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  font-weight: normal !important;
}

main.video-thumb img {
  max-height: 380px;
  width: auto;
  max-width: 90%;
  margin-left: 0%;
}

main.main-image img {
  /*border-radius: 30px;*/
  /*?max-height: 380px;*/
  max-width: 100%;
  border-radius: 0px;
}
main.main-image {
  background: black;
}

main.chapter-image .main-image {
  width: 35%;
}

nav {
  width: 90%;
  left: 5%;
  height: auto;
  height: auto;
  float: left;
  margin-top: 30px;
  position: relative;
  mix-blend-mode: multiply;

  display: none;
}

.project-buttons {
  display: none;
}

td:first-letter {
  text-transform: uppercase;
}

.icon-wrapper {
  transition: 0.05s;
}
nav .icon-wrapper {
  width: 20%;
  margin: 0 15%;
  float: left;
  position: relative;
  height: auto;
  text-align: center;
}

.icon-wrapper.dripfeed img {
  transform: rotate(-30deg);
  filter: contrast(1.06);
}

nav.single .icon-wrapper {
  width: 20%;
  margin-left: 40% !important;
  margin: 0 0;
}

pre {
  white-space: break-spaces;
  margin: 0;
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding: 20px 0;
}

nav .icon-wrapper:hover label {
  color: black;
}

nav .icon-wrapper:hover {
  transform: rotate(2deg) scale(1.05);
}

.icon-wrapper.one-icon {
  margin: 0 40%;
}

.icon-wrapper img {
  height: auto;
  width: 100%;
  transition: 0.2s;
  cursor: pointer;
}
.icon-wrapper label {
  margin-top: 10px;
  width: 150%;
  margin-left: -25%;
  float: left;
  color: black;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-container {
  width: 90%;
  margin-top: 30px;
  left: 5%;
  height: 300px;
  overflow-y: scroll;
  position: relative;
  float: left;
}

.credits-table-wrapper {
  display: none;
}
.scroll-prompt {
  display: none;
}

.news-table {
  display: none;
}

.project-table-container {
  display: none;
}

.table-container.tree-link {
  margin-top: 15px;
}
.table-container.tree-link.first {
  margin-top: 30px;
}

.non-fixed-height {
  overflow-y: visible;
  height: auto;
}

table {
  width: 100%;
  float: left;
  border: 2px solid black;
  overflow: hidden;
}

th,
td {
  border: 1px solid;
  font-weight: normal;
  white-space: break-spaces !important;
}
.tree-link img {
  mix-blend-mode: multiply;
  width: 100%;
  object-fit: cover;
  max-height: 90px;
}

.tree-link {
  margin-top: 15px;
}

.tree-link {
  height: 125px;
  cursor: pointer;
}
.tree-link:hover {
  background: gainsboro;
}

.tree-link table {
  height: 100%;
}

.tree-link td:first-child {
  width: 70px;
}

.tree-link td:first-child {
  width: 70px;
}

th {
  height: 30px;
  line-height: 30px;
  font-weight: bold;
}
td,
th {
  padding: 10px;
}

article {
  padding: 0px 0;
  width: 90%;
  margin-left: 5%;
  float: left;
  display: none;
}

.project-description {
  float: left;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  display: none;
}
.project-description p {
  margin: 0;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gallery-images {
  height: auto;
  float: left;
  background: white;
}

.warning {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black;
  color: white;
  z-index: 200;
  display: none;
  align-items: center;
  justify-content: center;
}

.gallery-images label {
  position: absolute;
  left: 0%;
  bottom: -90px;
  width: 100%;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: rgb(198, 198, 198);
  display: none;
}

.gallery-table {
  border-collapse: collapse;
  width: 99%;
  margin-left: 0.5%;
}

.gallery-table td {
  border: 3px double #000;
  padding: 3px;
}

.gallery-table img {
  width: 100%;
  display: block;
}

.slider::-webkit-scrollbar,
#container::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
  display: none;
}

.mat-board-wrapper .mat-board img.no-board {
  width: 100%;
  margin: 0 !important;
  border: none;
}
.mat-board-wrapper .mat-board.small {
  width: 25vh;
}

.landscape {
  margin-top: 10%;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  float: left;
  font-weight: normal;
  font-size: 10px;
  display: none;
  margin-bottom: 15px;
}

.about-contact {
  display: none;
  text-align: center;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 15px;
}

.about,
.contact {
  white-space: break-spaces;
}

.main-caption {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  font-weight: normal;
  padding: 50px 0 20px 0;
  float: left;
  display: none;
  white-space: break-spaces;
}

@media only screen and (max-width: 600px) {
  #container,
  .gallery-background {
    width: 100%;
    left: 0;
    margin-left: 0;
    border: none;
  }

  .scroll-prompt {
    display: block;
    font-weight: normal;
    text-align: center;
    border-radius: px;
    padding: 3px 10px;
    border-radius: 10px;
    background: black;
    color: rgb(158, 158, 158);
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-top: -10px;
    font-size: 15px;
    line-height: 15px;
    opacity: 1;
    z-index: 100;
    cursor: pointer;
  }
}

@media only screen and (max-height: 600px) {
  .gallery-background .wall {
    height: calc(95% - 135px);
  }
  .gallery-background .floor {
    height: 5%;
  }
}

@media only screen and (max-height: 400px) {
  .gallery-background .wall {
    height: 100%;
    border: none;
    padding-top: 0;
  }
  .gallery-background .floor {
    height: 0%;
    color: transparent;
  }

  .gallery-background header {
    display: none;
  }
  .mat-board-wrapper {
    align-items: center;
  }
}
